body 
{
    width: 100%;
    height: 100%;
}

html 
{
    width: 100%;
    height: 100%;
	overflow: hidden;
}

@media(min-width:767px) 
{	
    .navbar 
	{
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse 
	{
        padding: 0;
    }
}

@media(max-width:767px) 
{	
    html 
	{
		overflow: scroll;
	}
}

.intro-section 
{
    height: 100%;
	width: 100%;
    padding-top: 0px;
    text-align: center;
    background: #fff;
}

.about-section 
{
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #eee;
}

.services-section 
{
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #fff;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img 
{
    height: 100vh;
	width: 100%;
    margin: 0;
}

.container-fluid
{
	margin: 0px;
	width: 100%;
}

.myCarousel
{
	margin: 0px;
	width: 100%;
}


.navbartext
{
	color: #5BC0DE;
}